html {
  font-size: 18px;
  line-height: 1.4;
}

body {
  font-style: Helvetica;
}

.site-container {
  width: 960px;
  margin: 0 auto;
}

.header-font {
  font-size: 1rem;
  color: white;
}

/*header*/

header {
  background-image: url("../images/glasses-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /*verify height if 30 or 31 rem*/
  height: 31rem;
}


/*header bar*/

.header-bar {
  background-color: cadetblue;
  display: flex;
  justify-content: space-between;
}

nav li {
  display: inline;
}
