* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 18px;
  line-height: 1.4;
}

body {
  font-family: arial;
}

.site-container {
  width: 960px;
  margin: 0 auto;
}

.header-font {
  font-size: 1rem;
  color: white;
}

/*header*/

header {
  background-image: url("../images/glasses-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /*verify height if 30 or 31 rem*/
  height: 30rem;
  /*verify if padding here or margin to the header*/
  padding-top: 1rem;
}


/*header bar*/

header {
  margin-bottom: 3rem;
}

.header-bar {
  background-color: cadetblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.company-name {
  display: flex;
  align-items: center;
}

header img {
  height: 1.5rem;
  margin-left: 2rem;
  margin-right: 1rem;
}

nav div {
  display: inline;
  margin-right: 2rem;
}

nav {
  padding-top: 1rem;
  padding-bottom: 1rem;
}


/*slogan*/

.slogan-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 10rem;
}

.slogan {
  background-color: white;
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;
  padding: 1.5rem 3rem;
  position: relative;
  left: 2rem;
}


/*services*/

main {
  margin-bottom: 3rem;
}

main .site-container {
  display: flex;
  justify-content: center;
}

.services {
  height: 8rem;
  width: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

main img {
  width: 3.5rem;
}

main p {
  text-align: center;
}

.ruler {
  margin-left: 6rem;
  margin-right: 6rem;
}

#ruler,
#truck {
  position: relative;
  top: 1rem;
}

/*section philosophy*/

section .site-container {
  display: flex;
  justify-content: center;
}

.description {
  width: 35%;
  margin-right: 5%;
}

.philo {
  background-color: cadetblue;
  width: 10rem;
  font-weight: bold;
  color: white;
  font-size: 1rem;
  padding: 0.5rem 1.25rem;
}

section p {
  margin-top: 1rem;
}


/*footer*/

footer {
  margin-top: 5rem;
}

footer .site-container {
  background-color: azure;
}

.copyright {
  padding: 4rem 4rem;
  display: flex;
  align-items: center;
}

footer img {
  height: 1.5rem;
  margin-right: 1rem;
}
